body {
  background: violet; }

.display-frame,
#display {
  width: 66%;
  margin-left: auto;
  margin-right: auto; }

.calculator-body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: #f0f0f0;
  padding-bottom: 1.5em; }

input.btn {
  height: 5em;
  width: 5em;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.tall-btn {
  height: 11.5em !important;
  margin-bottom: -6.5em; }

.last-row {
  margin-left: -5.5em; }
