@import url("https://fonts.googleapis.com/css?family=Atomic+Age|Chewy|Coda|Kelly+Slab");
body {
  background: #e1bee7; }

.display-frame,
#display {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: none; }

#display {
  margin-top: .5em;
  font-size: 1.8em;
  font-family: "Atomic Age";
  background: #fff;
  border: 3px solid #202020;
  text-align: right;
  padding-right: .5em; }

.calculator-body {
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  background: #cfcfcf;
  padding-bottom: 1.5em;
  border-radius: 20px;
  border: 4px solid #202020; }

input.btn {
  font-family: "Kelly Slab";
  color: #fff;
  background: #6a1b9a;
  border: 2px solid #202020;
  border-radius: 15px;
  height: 5em;
  width: 5em; }

input.btn:hover {
  background: #e1bee7; }

.tall-btn {
  height: 11.5em !important;
  margin-bottom: -6.5em; }

.last-row {
  margin-left: -5.5em; }
