@import url('https://fonts.googleapis.com/css?family=Coda|Kelly+Slab');

$background-color: #e1bee7;
$btn-color: #6a1b9a;
$text-color: #fff;
$body-color: #cfcfcf;
$border-color: #202020;
$headline-color: #c62828;
$btn-size: 5em;
$width: 75%;
$largescreen-width: 80%;
$display-font: 'Coda';
$btn-font: 'Kelly Slab';

body {
  background: $background-color;
}
h1{
  font-family: 'Kelly Slab';
  font-variant: small-caps;
  color: $headline-color;
  text-shadow: 0 0 6px #ffc400;
}
.display-frame,
#display {
  width: $width;
  margin-left: auto;
  margin-right: auto;
  border-bottom: none;

}
#display {
  margin-top: .5em;
  font-size: 1.8em;
  font-family: $display-font;
  background: #fff;
  border: 3px solid $border-color;
  text-align: right;
  padding-right:.5em;
}

.calculator-body {
  font-weight:900;
  margin-left: auto;
  margin-right: auto;
  background: $body-color;
  padding-bottom: 1.5em;
  border-radius: 20px;
  border: 4px solid $border-color;
}

input.btn, button.btn{
  font-family: $btn-font;
  color: $text-color;
  background: $btn-color;
  border: 2px solid $border-color;
  border-radius: 15px;
  height:$btn-size;
  width:$btn-size;
  

}
input.btn:hover, button.btn:hover {
  background: $background-color;
  
  
}
.tall-btn {
  height: 11.5em !important;
  margin-bottom: -6.5em;
}
.last-row {
  margin-left: -5.5em;
}
@media screen and (min-width: 993px) {
  .display-frame,
#display {
  width: $largescreen-width;
}
.last-row {
  margin-left: -6.5em;
}
  
}